<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:fragment="head">


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>HDC S.A</title>

<!-- Bootstrap -->
<link href="tema/vendors/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Font Awesome -->
<link href="tema/vendors/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
<!-- NProgress -->
<link href="tema/vendors/nprogress/nprogress.css" rel="stylesheet">




<!-- iCheck -->
<link href="tema/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-progressbar -->
<link
	href="tema/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css"
	rel="stylesheet">
<!-- PNotify -->
<link href="tema/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
<link href="tema/vendors/pnotify/dist/pnotify.buttons.css"
	rel="stylesheet">
<link href="tema/vendors/pnotify/dist/pnotify.nonblock.css"
	rel="stylesheet">


<!-- Custom Theme Style -->
<link href="tema/custom/css/custom.min.css" rel="stylesheet">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>

<body>

	<!-- Cabecera -->
	<header th:fragment="header">

		<div class="col-md-3 left_col">
			<div class="left_col scroll-view">
				<div class="navbar nav_title" style="border: 0;">
					<a  class="site_title"><i class="fa fa-home"></i> <span>HDC
							S.A</span></a>
				</div>

				<div class="clearfix"></div>

				<!-- menu profile quick info -->
				<div class="profile clearfix">
					<div class="profile_pic">
						<img src="tema/images/user-male-icon.png" alt="..."
							class="img-circle profile_img">
					</div>
					<div class="profile_info">
						<span>Bienvenido,</span>
						<h2>[[${#authentication.getPrincipal().getUsername()}]]</h2>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- /menu profile quick info -->

				<br />

				<!-- sidebar menu -->
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
					<div class="menu_section">
						<h3>General</h3>
						<ul class="nav side-menu">
							<li
								th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}  or  ${#authorization.expression('hasRole(''ROLE_MERCADERISTA'')')}"><a><i
									class="fa fa-map-marker"></i> Control Visitas <span
									class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">

									<li
										th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}  or  ${#authorization.expression('hasRole(''ROLE_MERCADERISTA'')')}"><a
										href="visitasPuntoDeVentas">Visitas Punto De Ventas</a></li>
									<li
										th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} "><a
										href="listaVisitasRealizadas">Visitas Realizadas</a></li>
								</ul></li>
							<li
								th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} "><a><i
									class="fa fa-gears"></i> Opciones <span
									class="fa fa-chevron-down"></span></a>
								<ul class="nav child_menu">
									<li><a href="crearPuntoDeVenta">Crear Punto De Venta</a></li>
									<li><a href="listaPuntosDeVenta">Lista Puntos De Venta</a></li>

								</ul></li>







						</ul>
					</div>

				</div>
				<!-- /sidebar menu -->


			</div>
		</div>

		<!-- top navigation -->
		<div class="top_nav">
			<div class="nav_menu">
				<div class="nav toggle">
					<a id="menu_toggle"><i class="fa fa-bars"></i></a>
				</div>
				<nav class="nav navbar-nav">
					<ul class=" navbar-right">
						<li class="nav-item dropdown open" style="padding-left: 15px;">
							<a href="javascript:;" class="user-profile dropdown-toggle"
							aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown"
							aria-expanded="false"> <img
								src="tema/images/user-male-icon.png" alt="">[[${#authentication.getPrincipal().getUsername()}]]
						</a>
							<div class="dropdown-menu dropdown-usermenu pull-right"
								aria-labelledby="navbarDropdown">
								<a th:href="@{/logout}" class="dropdown-item" href="login"><i
									class="fa fa-sign-out pull-right"></i> Cerrar sesión</a>
							</div>
						</li>


					</ul>
				</nav>
			</div>
		</div>
		<!-- /top navigation -->
	</header>

	<!-- Contenido -->
	<div class="container"></div>

	<!-- Pie de pagina -->
	<footer th:fragment="footer">
		<div class="pull-right">HDC - Huevos De Codorniz S.A.</div>
		<div class="clearfix"></div>
	</footer>


	<div th:fragment="scripts">
		<!-- jQuery -->
		<script src="tema/vendors/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap -->
		<script src="tema/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<!-- FastClick -->
		<script src="tema/vendors/fastclick/lib/fastclick.js"></script>
		<!-- NProgress -->
		<script src="tema/vendors/nprogress/nprogress.js"></script>

		<!-- bootstrap-progressbar -->
		<script
			src="tema/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
		<!-- iCheck -->
		<script src="tema/vendors/iCheck/icheck.min.js"></script>

		<!-- PNotify -->
		<script src="tema/vendors/pnotify/dist/pnotify.js"></script>
		<script src="tema/vendors/pnotify/dist/pnotify.buttons.js"></script>

		<script src="tema/vendors/pnotify/dist/pnotify.nonblock.js"></script>

		<!-- Custom Theme Scripts -->
		<script src="tema/custom/js/custom.min.js"></script>


	</div>








</body>
</html>